.alert-outlet {
  top: 10px;
  left: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.alert-outlet .alert {
  margin-top: -10000px;
  -webkit-animation: alert-outlet-slide 0.2s forwards;
          animation: alert-outlet-slide 0.2s forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  left: -10000px;
  -webkit-transition: margin-top 1.5s ease-in, opacity 2s linear;
  transition: margin-top 1.5s ease-in, opacity 2s linear;
}

.alert-outlet .alert.show {
  margin-top: 0;
}

@-webkit-keyframes alert-outlet-slide {
  100% {
    left: 0;
  }
}

@keyframes alert-outlet-slide {
  100% {
    left: 0;
  }
}
